In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1

Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.10/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.3)
Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)

In [6]:
%sql postgresql://admin:******@host:5439/dev

# Redshift Schema 설정

In [7]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

# 모든 스키마 출력

In [8]:
%%sql
select * from pg_namespace;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
14 rows affected.

[('pg_toast', 1, None),
 ('pg_internal', 1, None),
 ('catalog_history', 1, None),
 ('pg_mv', 1, None),
 ('pg_automv', 1, None),
 ('pg_auto_copy', 1, None),
 ('pg_s3', 1, None),
 ('pg_catalog', 1, '{rdsdb=UCA/rdsdb,=U/rdsdb}'),
 ('public', 1, '{rdsdb=UCA/rdsdb,=UC/rdsdb}'),
 ('information_schema', 1, '{rdsdb=UCA/rdsdb,=U/rdsdb}'),
 ('raw_data', 100, None),
 ('analytics', 100, None),
 ('adhoc', 100, None),
 ('pii', 100, None)]

# 사용자 만들기

In [11]:
%%sql

CREATE USER jiwoo PASSWORD '*****';

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [12]:
%%sql

select * from pg_user;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
4 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('IAM:RootIdentity', 101, True, True, False, '********', None, None),
 ('admin', 100, True, True, False, '********', 'infinity', None),
 ('jiwoo', 102, False, False, False, '********', None, None)]

# Redshift Group 생성 및 설정

In [13]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

- 사용자 추가하기

In [14]:
%%sql

ALTER GROUP analytics_users ADD USER jiwoo;
ALTER GROUP pii_users ADD USER jiwoo;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

# Redshift Role 생성 및 설정

In [15]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.

[]

In [16]:
%%sql

GRANT ROLE staff TO jiwoo;
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [17]:
%%sql

select * from SVV_ROLES;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(105827, 'sys:operator', 'rdsdb', None),
 (105828, 'sys:monitor', 'rdsdb', None),
 (105829, 'sys:dba', 'rdsdb', None),
 (105830, 'sys:secadmin', 'rdsdb', None),
 (105831, 'sys:superuser', 'rdsdb', None),
 (110560, 'staff', 'admin', None),
 (110561, 'manager', 'admin', None),
 (110562, 'external', 'admin', None)]

# COPY 명령어로 테이블 만들기

In [18]:
%%sql

CREATE TABLE raw_data.user_session_channel(
  userid integer,
  sessionid VARCHAR(32) primary key,
  channel VARCHAR(32)
);

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [19]:
%%sql

COPY raw_data.user_session_channel
FROM 's3://devcourse-redshift-example/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::-:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [20]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(227, '17b65afe58c49edc1bdd812c554ee3bb', 'Facebook'),
 (277, 'c67ba7c4c5c0cd4cc3e3a7146fe5c015', 'Naver'),
 (510, 'decc2e06a44e61f12a030bc4951563eb', 'Facebook'),
 (654, '4afa19649ae378da31a423bcd78a97c8', 'Naver'),
 (858, '376c6b9ff3bedbbea56751a84fffc10c', 'Facebook'),
 (845, 'c55d22f5c88cc6f04c0bb2e0025dd70b', 'Google'),
 (785, 'a5329a91ef79db75900bd9cab3d96e43', 'Facebook'),
 (248, '9a1335ef5ffebb0de9d089c4182e4868', 'Naver'),
 (277, 'bea6cfd50b4f5e3c735a972cf0eb8450', 'Instagram'),
 (774, '420824960f755f8721c47b6027ead6ab', 'Google')]

In [21]:
%%sql

CREATE TABLE raw_data.session_timestamp (
  sessionid VARCHAR(32) primary key,
  ts timestamp
);

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [22]:
%%sql

COPY raw_data.session_timestamp
FROM 's3://devcourse-redshift-example/test_data/session_timestamp.csv'
credentials 'aws_iam_role=arn:aws:iam::-:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT * FROM raw_data.session_timestamp
LIMIT 10;