# 필요 라이브러리 설치 및 sql load

In [1]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1

Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 5.7 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.29
    Uninstalling SQLAlchemy-2.0.29:
      Successfully uninstalled SQLAlchemy-2.0.29
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.47 which is incompatible.
Successfully installed SQLAlchemy-1.4.47
Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 20.5 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=9b9c5c420adb20a6e565127a6fd093e1d93fa1d9cc8dece0a25c1bb6284e8d35
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.10.0
    Uninstalling prettytable-3.10.0:
      Successfully uninstalled prettytable-3.10.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Redshift 로그인

In [3]:
%sql postgresql://admin:-@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev

# 테이블 생성

In [12]:
%%sql

CREATE TABLE raw_data.nps (
  created_at timestamp,
  score smallint
);

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [14]:
# 생성 확인
%%sql
SELECT * FROM SVV_TABLES WHERE table_schema='raw_data' and table_name='nps';

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
1 rows affected.

[('dev', 'raw_data', 'nps', 'BASE TABLE', None)]

# COPY 명령으로 S3에서 테이블로 불러오기

In [15]:
%%sql

COPY raw_data.nps
FROM 's3://devcourse-redshift-example/nps/nps.csv'
credentials 'aws_iam_role=arn:aws:iam::545171712393:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [20]:
## 로드 확인
%%sql

SELECT * FROM raw_data.nps ORDER BY created_at DESC LIMIT 10;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.datetime(2019, 12, 30, 23, 59, 39), 10),
 (datetime.datetime(2019, 12, 30, 23, 56, 14), 10),
 (datetime.datetime(2019, 12, 30, 23, 56, 7), 0),
 (datetime.datetime(2019, 12, 30, 23, 56, 4), 10),
 (datetime.datetime(2019, 12, 30, 23, 55, 37), 10),
 (datetime.datetime(2019, 12, 30, 23, 55, 31), 10),
 (datetime.datetime(2019, 12, 30, 23, 54, 30), 9),
 (datetime.datetime(2019, 12, 30, 23, 54, 28), 10),
 (datetime.datetime(2019, 12, 30, 23, 52, 59), 10),
 (datetime.datetime(2019, 12, 30, 23, 52, 37), 10)]

# 월간 NPS 분석

## analytics 스키마에 새로운 테이블 생성

In [34]:
%%sql
CREATE TABLE analytics.nps_summary AS
SELECT
  TO_CHAR(created_at, 'YYYY-MM') AS month,
  (COUNT(CASE WHEN score >= 9 THEN 1 END) - COUNT(CASE WHEN score <= 6 THEN 1 END)) * 100.0 / COUNT(month) AS nps
FROM raw_data.nps
GROUP BY month
ORDER BY month;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [35]:
## 생성확인
%%sql

SELECT * FROM SVV_TABLES WHERE table_name='nps_summary';

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
1 rows affected.

[('dev', 'analytics', 'nps_summary', 'BASE TABLE', None)]

In [36]:
## 테이블 확인
%%sql

SELECT * FROM analytics.nps_summary;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
12 rows affected.

[('2019-04', Decimal('52.996515679442508')),
 ('2019-05', Decimal('54.520422212023864')),
 ('2019-11', Decimal('61.286861414924546')),
 ('2019-10', Decimal('53.291313418260908')),
 ('2019-12', Decimal('65.991538203753351')),
 ('2019-09', Decimal('37.946453215567209')),
 ('2019-02', Decimal('30.537974683544303')),
 ('2019-08', Decimal('67.714927506636716')),
 ('2019-06', Decimal('65.022352397101896')),
 ('2019-01', Decimal('2.362204724409448')),
 ('2019-03', Decimal('52.905198776758409')),
 ('2019-07', Decimal('64.513795597809238'))]