In [ ]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1

Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.10/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.3)
Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [ ]:
%sql postgresql://admin:1020300qQ@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

CREATE GROUP analytics_authors;
ALTER GROUP analytics_authors ADD USER jiwoo;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateObject) group "analytics_authors" already exists

[SQL: CREATE GROUP analytics_authors;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

ALTER GROUP analytics_users ADD USER jiwoo;
ALTER GROUP pii_users ADD USER jiwoo;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

### Redshift Role 설정

In [ ]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateObject) role "staff" already exists

[SQL: CREATE ROLE staff;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

GRANT ROLE staff TO jiwoo;   -- keeyong 대신에 다른 역할(Role)을 지정 가능
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

 select * from SVV_ROLES;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(105827, 'sys:operator', 'rdsdb', None),
 (105828, 'sys:monitor', 'rdsdb', None),
 (105829, 'sys:dba', 'rdsdb', None),
 (105830, 'sys:secadmin', 'rdsdb', None),
 (105831, 'sys:superuser', 'rdsdb', None),
 (110560, 'staff', 'admin', None),
 (110561, 'manager', 'admin', None),
 (110562, 'external', 'admin', None)]

### COPY 명령으로 테이블 만들기

In [ ]:
%%sql

CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) Relation "user_session_channel" already exists

[SQL: CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.user_session_channel
FROM 's3://devcourse-redshift-example/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::545171712393:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

In [ ]:
%%sql

CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3://devcourse-redshift-example/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::545171712393:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.InternalError_) Load into table 'session_timestamp' failed.  Check 'sys_load_error_detail' system table for details.

[SQL: -- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3://devcourse-redshift-example/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::545171712393:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [ ]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

In [ ]:
%%sql

CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_transaction
FROM 's3://devcourse-redshift-example/test_data/user_session_channel.csv'
credentials 'arn:aws:iam::545171712393:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

### analytics 테스트 테이블 만들기

In [ ]:
%%sql

CREATE TABLE analytics.mau_summary AS
SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

### 사용자 그룹 권한 설정하기

#### analytics_authors

In [ ]:
%%sql

GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_authors;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_authors;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_authors;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_authors;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.UndefinedObject) Group "analytics_authors" does not exist.

[SQL: GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;]
(Background on this error at: https://sqlalche.me/e/14/f405)

#### analytics_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA analytics TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_users;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_users;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_users;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_users;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### pii_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA pii TO GROUP pii_users;
GRANT SELECT ON ALL TABLES IN SCHEMA pii TO GROUP pii_users;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

#### keeyong으로 로그인해서 raw_data 테이블을 수정하려 시도해보기

In [ ]:
%%sql

ALTER USER jiwoo PASSWORD '1020300qQ'

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

### Redshift Spectrum 테스트

In [ ]:
%%sql

-- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::545171712393:role/redshift.read.s3'
create external database if not exists;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

CREATE TABLE raw_data.user_property AS
SELECT
  userid,
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
COMMIT;  -- 현재 트랜잭션 종료
DROP TABLE external_schema.user_session_channel;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql
COMMIT;
CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://devcourse-redshift-example/usc/';

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

SELECT * FROM SVV_EXTERNAL_SCHEMAS;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
1 rows affected.

[(126939, 1, 'external_schema', 100, 'myspectrum_db', '{"IAM_ROLE":"arn:aws:iam::545171712393:role/redshift.read.s3"}')]

In [ ]:
%%sql

SELECT * FROM SVV_EXTERNAL_TABLES WHERE schemaname = 'external_schema';

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
1 rows affected.

[('dev', 'external_schema', 'user_session_channel', 's3://devcourse-redshift-example/usc', 'org.apache.hadoop.mapred.TextInputFormat', 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat', 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe', '{"field.delim":",","serialization.format":","}', 0, '{"EXTERNAL":"TRUE","transient_lastDdlTime":"1715160442"}', '')]

In [ ]:
%%sql

SELECT gender, COUNT(1)
FROM external_schema.user_session_channel usc
JOIN raw_data.user_property up ON usc.userid = up.userid
GROUP BY 1;

 * postgresql://admin:***@devcourse-redshift.545171712393.us-west-2.redshift-serverless.amazonaws.com:5439/dev
2 rows affected.

[('female', 49630), ('male', 51890)]

In [ ]:
%%sql

vacuum full